.collection 
  .collection__header 
    h4.collection__header-title Gợi ý cho bạn
    a.collection__header-link(href="") 
      | Xem Tất Cả
      span.collection__header-icon
        i.fas.fa-chevron-right
  .collection__list
    +card("Áo khoác nam 2 lớp Ultra Light Jacket vải dệt trượt nước Coolmate", "1", "499.000", "299.000", "20", "11.6k", "Ha Noi", "true")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Áo thun nam 100% Cotton USA Coolmate Basics thương hiệu Coolmate", "2", "", "99.000", "30", "11k", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Quần thể thao nam Ultra Short co dãn có túi khóa kéo thương hiệu Coolmate", "3", "499.000", "299.000", "4.9", "242", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Áo thun nam DÀI TAY Cotton Compact Premium chống nhăn thương hiệu Coolmate", "4", "499.000", "299.000", "4.9", "242", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
    +card("Combo 3 quần lót nam dáng Trunk Bamboo kháng khuẩn Coolmate", "5", "499.000", "299.000", "4.9", "242", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Quần nỉ nam Jogger Sweatpants cao cấp có túi khóa thương hiệu Coolmate", "6", "499.000", "299.000", "4.9", "242", "Ha Noi", "free")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")

  .collection__header.pt-40 
    h4.collection__header-title TÌM KIẾM HÀNG ĐẦU
    a.collection__header-link(href="") 
      | Xem Tất Cả
      span.collection__header-icon
        i.fas.fa-chevron-right
  .collection__list
    +card("Áo khoác nam 2 lớp Ultra Light Jacket vải dệt trượt nước Coolmate", "1", "499.000", "299.000", "20", "11.6k", "Ha Noi", "true")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Áo thun nam 100% Cotton USA Coolmate Basics thương hiệu Coolmate", "2", "", "99.000", "30", "11k", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Quần thể thao nam Ultra Short co dãn có túi khóa kéo thương hiệu Coolmate", "3", "499.000", "299.000", "4.9", "242", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Áo thun nam DÀI TAY Cotton Compact Premium chống nhăn thương hiệu Coolmate", "4", "499.000", "299.000", "4.9", "242", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
    +card("Combo 3 quần lót nam dáng Trunk Bamboo kháng khuẩn Coolmate", "5", "499.000", "299.000", "4.9", "242", "Ha Noi")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")
    +card("Quần nỉ nam Jogger Sweatpants cao cấp có túi khóa thương hiệu Coolmate", "6", "499.000", "299.000", "4.9", "242", "Ha Noi", "free")
      +cardBadge('Giảm ₫50k', "secondary")
      +cardBadge("ShopDacBiet")