const collection = [
  {
    "name": "Áo khoác nam 2 lớp Ultra Light Jacket vải dệt trượt nước Coolmate",
    "imgSrc": "#",
    "priceOld": "499.000",
    "priceNew": "299.000",
    "star": "4.9",
    "sold": "242",
    "store": "Ha Noi"
  },
]