footer.footer 
  .footer__intro
    .footer__intro-item
      img(src="../images/intro-icon-1.png", alt="#").footer__intro-item-icon
      .footer__intro-item-text 
        span 7 ngày miễn phí trả hàng
        span Trả hàng miễn phí trong 7 ngày
    .footer__intro-item
      img(src="../images/intro-icon-2.png", alt="#").footer__intro-item-icon
      .footer__intro-item-text
        span Hàng chính hãng 100%
        span Đảm bảo hàng chính hãng hoặc hoàn tiền gấp đôi
    .footer__intro-item
      img(src="../images/intro-icon-3.png", alt="#").footer__intro-item-icon
      .footer__intro-item-text
        span Miễn phí vận chuyển
        span Giao hàng miễn phí toàn quốc
  
  .footer__gap

  .grid.p-5
    .grid__row
      .grid__col-1-5
        .footer__heading Chăm sóc khách hàng
        ul.footer__list
          +footerItem("Trung Tâm Trợ Giúp")
          +footerItem("Hướng Dẫn Bán Hàng")
          +footerItem("Thanh Toán")
          +footerItem("Shopee Xu")
          +footerItem("Vận Chuyển")
          +footerItem("Trả Hàng & Hoàn Tiền")
          +footerItem("Chăm Sóc Khách Hàng")
          +footerItem("Chính Sách Bảo Hành")
      
      .grid__col-1-5
        .footer__heading VỀ SHOPEE
        ul.footer__list
          +footerItem("Giới Thiệu Về Shopee Việt Nam")
          +footerItem("Tuyển Dụng")
          +footerItem("Điều Khoản Shopee  ")
          +footerItem("Chính Sách Bảo Mật")
          +footerItem("Chính Hãng")
          +footerItem("Kênh Người Bán")
          +footerItem("Flash Sales")
          +footerItem("Chương Trình Tiếp Thị Liên Kết Shopee")
          +footerItem("Liên Hệ Với Truyền Thông")

      .grid__col-1-5
        .footer__heading Chăm sóc khách hàng
        ul.footer__list
          +footerItem("Trung Tâm Trợ Giúp")
          +footerItem("Trung Tâm Trợ Giúp")
          +footerItem("Trung Tâm Trợ Giúp")
          +footerItem("Trung Tâm Trợ Giúp")

      .grid__col-1-5
        .footer__heading THEO DÕI CHÚNG TÔI TRÊN
        ul.footer__list
          +footerItem("Facebook")
            i.fab.fa-facebook
          +footerItem("Instagram")
            i.fab.fa-instagram
          +footerItem("Linkedin")
            i.fab.fa-linkedin

      .grid__col-1-5
        .footer__heading TẢI ỨNG DỤNG SHOPEE NGAY THÔI
        a(href="#").footer__install
          img(src="../images/qr-code.png", alt="").footer__qr-code
          .footer__logo
            img(src="../images/app-store.png", alt="").footer__logo-item
            img(src="../images/google-play.png", alt="").footer__logo-item
            img(src="../images/app-gallery.png", alt="").footer__logo-item
  .footer__copyright.grid
    .footer__copyright-content © 2022 Shopee. Tất cả các quyền được bảo lưu.
    .footer__copyright-link 
      .footer__copyright-link-item.footer__copyright-link-item--no-border Quốc gia & Khu vực:
      .footer__copyright-link-item
        a(href="") Singapore 
      .footer__copyright-link-item
        a(href="") Indonesia
      .footer__copyright-link-item
        a(href="") Đài Loan
      .footer__copyright-link-item
        a(href="") Thái Lan  
      .footer__copyright-link-item
        a(href="") Malaysia  
      .footer__copyright-link-item
        a(href="") Việt Nam  
      .footer__copyright-link-item
        a(href="") Philippines  
      .footer__copyright-link-item
        a(href="") Brazil  
      .footer__copyright-link-item
        a(href="") México 
      .footer__copyright-link-item
        a(href="") Colombia 
      .footer__copyright-link-item
        a(href="") Chile
      .footer__copyright-link-item
        a(href="") Poland 
      .footer__copyright-link-item
        a(href="") Spain  
      .footer__copyright-link-item
        a(href="") France 
      .footer__copyright-link-item
        a(href="") India
