footer.footer 
  .footer__intro
    .footer__intro-item
      img(src="../images/intro-icon-1.png", alt="#").footer__intro-item-icon
      .footer__intro-item-text 
        span 7 ngày miễn phí trả hàng
        span Trả hàng miễn phí trong 7 ngày
    .footer__intro-item
      img(src="../images/intro-icon-2.png", alt="#").footer__intro-item-icon
      .footer__intro-item-text
        span Hàng chính hãng 100%
        span Đảm bảo hàng chính hãng hoặc hoàn tiền gấp đôi
    .footer__intro-item
      img(src="../images/intro-icon-3.png", alt="#").footer__intro-item-icon
      .footer__intro-item-text
        span Miễn phí vận chuyển
        span Giao hàng miễn phí toàn quốc