.products.grid__row
  .products__category.grid__col-2
    h5.products__category-title
      i.fas.fa-bars 
      | Danh Mục 
    ul.products__category-list 
      li.products__category-item.products__category-item--active Sản Phẩm
      li.products__category-item 💥 OUTLET- Siêu khuyến mãi upto 50%
      li.products__category-item Coolmate Basics - Hàng tốt giá rẻ
      li.products__category-item ☀️SALE ĐỒ HÈ
      li.products__category-item Công nghệ HeiQ ViroBlock
      li.products__category-item Care & Share
      li.products__category-item ĐỒ THU ĐÔNG
      li.products__category-item ÁO THUN NAM ️
      li.products__category-item ÁO POLO NAM
      li.products__category-item QUẦN SHORT NAM
      li.products__category-item QUẦN SỊP NAM
  .products__main.grid__col-10
    .products__filters
      span.products__filters-label Sắp xếp theo
      .products__filters-option
        .products__filters-option-item.products__filters-option-item--active Phổ biến
        .products__filters-option-item Mới nhất
        .products__filters-option-item Bán chạy
        .products__filters-option-item
          | Giá
      .products__filters-controller
        .products__filters-controller-page
          .products__filters-controller-page-current 1
          .products__filters-controller-page-total /5
        .products__filters-controller-btn
          i.fas.fa-angle-left
        .products__filters-controller-btn
          i.fas.fa-angle-right
    
    .collection__list.mt-10
      +card("Áo khoác nam 2 lớp Ultra Light Jacket vải dệt trượt nước Coolmate", "1", "499.000", "299.000", "20", "11.6k", "Ha Noi", "true")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Áo thun nam 100% Cotton USA Coolmate Basics thương hiệu Coolmate", "2", "", "99.000", "30", "11k", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Quần thể thao nam Ultra Short co dãn có túi khóa kéo thương hiệu Coolmate", "3", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Áo thun nam DÀI TAY Cotton Compact Premium chống nhăn thương hiệu Coolmate", "4", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
      +card("Combo 3 quần lót nam dáng Trunk Bamboo kháng khuẩn Coolmate", "5", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")

    .collection__list.mt-10
      +card("Áo khoác nam 2 lớp Ultra Light Jacket vải dệt trượt nước Coolmate", "1", "499.000", "299.000", "20", "11.6k", "Ha Noi", "true")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Áo thun nam 100% Cotton USA Coolmate Basics thương hiệu Coolmate", "2", "", "99.000", "30", "11k", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Quần thể thao nam Ultra Short co dãn có túi khóa kéo thương hiệu Coolmate", "3", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Áo thun nam DÀI TAY Cotton Compact Premium chống nhăn thương hiệu Coolmate", "4", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
      +card("Combo 3 quần lót nam dáng Trunk Bamboo kháng khuẩn Coolmate", "5", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")

    .collection__list.mt-10
      +card("Áo khoác nam 2 lớp Ultra Light Jacket vải dệt trượt nước Coolmate", "1", "499.000", "299.000", "20", "11.6k", "Ha Noi", "true")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Áo thun nam 100% Cotton USA Coolmate Basics thương hiệu Coolmate", "2", "", "99.000", "30", "11k", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Quần thể thao nam Ultra Short co dãn có túi khóa kéo thương hiệu Coolmate", "3", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
      +card("Áo thun nam DÀI TAY Cotton Compact Premium chống nhăn thương hiệu Coolmate", "4", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
      +card("Combo 3 quần lót nam dáng Trunk Bamboo kháng khuẩn Coolmate", "5", "499.000", "299.000", "4.9", "242", "Ha Noi")
        +cardBadge('Giảm ₫50k', "secondary")
        +cardBadge("ShopDacBiet")
  
    .products__pagination
      .products__pagination-item
        i.fas.fa-angle-left
      .products__pagination-item.products__pagination-item--active 1
      .products__pagination-item 2
      .products__pagination-item ...
      .products__pagination-item 4
      .products__pagination-item 5
      .products__pagination-item
        i.fas.fa-angle-right
    

