* {
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   line-height: 1.6rem;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

.container {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
}

.grid__full-width {
   width: 100%;
}

.grid {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;

   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;
   }

   &__col-2 {
      width: 16.66667%;
      padding: 0 12px;
   }

   &__col-10 {
      width: 83.33334%;
      padding: 0 12px;
   }

   &__col-1-5 {
      width: 20%;
      padding: 5px;
   }
}

.width--half {
   width: 50%;
}

.width--full {
   width: 100%;
}

.mr-10 {
   margin-right: 10px;
}

.mt-10 {
   margin-top: 10px !important;
}

.mt-20 {
   margin-top: 20px;
}

.pt-40 {
   padding-top: 40px !important;
}

.p-5 {
   padding: 5px;
}

.seperator {
   position: relative;
}

.seperator::after {
   content: "";
   position: absolute;
   right: 0;
   top: 0.4rem;
   height: 1.4rem;
   width: 1px;
   background-color:hsla(0,0%,100%,.22);
}

.flex {
   display: flex;
}

.flex-centerY {
   align-items: center;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}