.footer {
  border-top: 3px solid $primary-color;
  margin: 0;

  &__intro {
    width: 1200px;
    max-width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    &-item {
      width: 336px;
      display: flex;
      align-items: center;

      &-icon {
        width: 50px;
        height: 50px;
        margin-right: 12px;
      }

      &-text {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        color: #0000008A;
      }
    }
  }

  &__gap {
    height: 120px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }

  &__section {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;

    &-col {

      &-title {
        margin: 40px 0 20px;
        font-size: 1.2rem;
        color: #0000008A;
        text-transform: uppercase;
        font-weight: 700;
      }

      &-list {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        list-style: none;

        &-item {
          margin-bottom: 12px;

          &-link {
            font-size: 1.2rem;
            color: #0000008A;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__heading {
    margin: 40px 0 20px;
    font-size: 1.2rem;
    color: #0000008A;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
  }

  &__item {
    color: #0000008A;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    &-link {
      font-size: 1.2rem;
      color: #0000008A;
      text-decoration: none;
      line-height: 1.6rem;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }

    & i {
      font-size: 1.6rem;
      color: #000;
      margin-right: 10px;
    }
  }

  &__install {
    display: flex;
  }

  &__qr-code {
    width: 84px;
    height: 84px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-right: 15px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-item {
      width: 80px;
    }
  }

  &__copyright {
    font-size: 1.4rem;
    padding: 40px 0;
    display: flex;
    border-top: 1px solid rgba(0,0,0,.1);
    color: #0000008A;
    
    &-content {
      width: 30%;
      margin-right: 25px;
    }

    &-link {
      width: 70%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &-item {
        padding: 0 5px;
        border-right: 1px solid #0000008A;

        &--no-border {
          border: none;
        }
        
        & a {
          text-decoration: none;
          color: #0000008A;
        }
      }
    }
  }
}