.header {
   color: $text-color;
   background-color: $primary-color;
   &__navbar {
      width: 100%;
      max-width: 1200px;
      height: 34px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-list {
         margin: 0;
         padding: 0;
         display: flex;
         align-items: center;
         list-style: none;
      }
      &-item {
         padding: 4px 6px;
         font-size: 1.3rem;
         font-weight: 400;
         @include centerY;
      }
      &-item-social {
         margin-left: 10px;
      }
      &-item-link {
         @include centerY;
         font-size: 1.3rem;
         color: $text-color;
         text-decoration: none;
         &:hover {
            @include textHover;
         }
      }
      &-icon {
         font-size: 1.6rem;
         color: $text-color;
         &:hover {
            @include textHover;
         }
      }
      &-text {
         margin-left: 5px;
      }
      &-item--noti {
         position: relative;
         &:hover {
            @include textHover();
         }
      }
      &-item--install:hover .header__qr {
         display: block;
      }
      &-item--noti:hover .header__noti {
         display: block;
      }
   }
   &__qr {
      display: none;
      position: absolute;
      top: 30px;
      z-index: 99;
      width: 180px;
      background-color: #fff;
      @include boxShadow;
      padding-bottom: 5px;
      @include fadeIn;
      &-img {
         width: 100%;
      }
      &-links {
         display: flex;
         padding: 0 7px;
      }
      &-link {
         display: inline-block;
         flex: 1;
         padding-left: 2px;
         &-img {
            height: 17px;
         }
      }
      &::before {
         content: "";
         position: absolute;
         top: -10px;
         width: 100%;
         height: 30px;
         cursor: pointer;
      }
   }
   &__noti {
      display: none;
      cursor: default;
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 99;
      width: 400px;
      height: 350px;
      background-color: #fff;
      @include boxShadow;
      color: $black-color;
      animation: fadeIn 300ms ease 1;
      &-content {
         height: 310px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &-img {
         width: 100px;
         margin-bottom: 10px;
      }
      &-status {
         font-size: 1.3rem;
      }
      &-btns {
         height: 40px;
         display: flex;
         cursor: pointer;
      }
      &-btn {
         flex: 1;
         height: 100%;
         font-size: 1.4rem;
         line-height: 40px;
         text-align: center;
         background-color: $gray-color;
         &:hover {
            color: $primary-color;
            background-color: $gray-darker-color;
         }
      }
      &::after {
         content: "";
         position: absolute;
         display: block;
         width: 40px;
         height: 40px;
         background-color: #fff;
         right: 29px;
         top: -2px;
         transform: rotate(45deg);
      }

      &::before {
         content: "";
         position: absolute;
         top: -10px;
         width: 100%;
         height: 30px;
         cursor: pointer;
      }
   }

   &__mainbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 84px;
      width: 1200px;
      margin: 0 auto;
      padding: 14px 0 21px;
      // background-color: red;
   }
    &__logo {
      display: flex;
      // width: 100%;
      &-img {
         position: relative;
         width: 49px;
         height: 57px;
         margin-right: 15px;

         &::after {
            content: "";
            position: absolute;
            right: -4px;
            top: 10px;
            width: 2px;
            height: 30px;
            background-color:hsla(0,0%,100%,.22);
         }
      }
      &-img svg {
         width: 40px;
         height: 45px;
         fill: #fff;
      }

      &-text {
         display: flex;
         align-items: center;
      }
      &-text svg {
         height: 34px;
      }
   }
   &__search {
      width: 520px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      background-color: #fff ;
      border: 3px solid #fff;
      font-size: 1.4rem;
      &-bar {
         flex: 1;
         display: flex;
      }
      &-input {
         height: 34px;
         padding: 0 10px;
         flex: 1;
         outline: none;
         border: none;
      }
      &-select {
         height: 34px;
         padding: 0 10px 0 15px;
         color: $black-color;
         background-color: #fff;
         outline: none;
         border: none;
         border-left: 1px solid $gray-darker-color;
      }
      &-btn {
         height: 34px;
         padding: 0 15px;
         color: #fff;
         background-color: $primary-color;
         outline: none;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         & i {
            font-size: 1.4rem;
            margin: 0 8px;
         }
      }
      &-history {
         display: none;
         width: calc(100% - 68px);
         position: absolute;
         top: 43px;
         left: -3px;
         z-index: 99;
         background-color: #fff;
         @include boxShadow;
         border-radius: 3px;
         &-desc {
            color: $text-color-secondary;
            margin: 0;
            padding: 10px;
         }
         &-list {
            margin: 0;
            padding: 0;
         }
         &-item {
            &:hover {
               background-color: $gray-lighter-color;
            }
            & a {
               display: block;
               width: 100%;
               height: 100%;
               padding: 10px;
               color: $text-color-dark;
               text-decoration: none;
            }
         }
      }
   }
   &__cart {
      width: 40px;
      height: 46px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      position: relative;
      cursor: pointer;
      & i {
         display: block;
         font-size: 2.5rem;
      }
      &:hover &-dropdown{
         display: flex;
      }
      &-dropdown {
         position: absolute;
         top: 50px;
         width: 390px;
         height: 260px;
         z-index: 99;
         background-color: #fff;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         display: none;
         cursor: default;
         @include boxShadow;
         @include fadeIn;
         &::before {
            content: "";
            position: absolute;
            top: -10px;
            width: 100%;
            height: 30px;
            cursor: pointer;
         }
         &::after {
            content: "";
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            background-color: #fff;
            right: 4px;
            top: -2px;
            transform: rotate(45deg);
         }
         &-img {
            width: 200px;
            padding-bottom: 20px;
            margin: 0 auto;
            background-color: #fff;
         }
         &-text {
            color: $text-color-dark;
            font-size: 1.4rem;
         }
      }
   }
}