$primary-color: #d13d2a;
$text-color: #fff;
$text-color-dark: rgba(0, 0, 0, 0.8);
$text-color-secondary: rgba(0, 0, 0, 0.26);
$black-color: #000000CC;
$gray-color: #f4f4f4;
$gray-darker-color: #E7E7E7;
$gray-lighter-color: #FAFAFA;